#collage {
    background-image: url(img/background-image.jpeg);
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    padding:20px;
    border-radius: 10px;
}

#collage hr{
    border:none;
    border-top:2px solid #aaa8a886;
    height:1px;
    background-color: rgba(150, 145, 145, 0.338); /* Translucent background */
}

#collage #playPanel {
    padding: 10px 10px;
    margin: 20px;
    max-width: 900px;
    width: 100%;
    top: 100%;
    right: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px; /* Adjust margin to move 10px to the right */
}



#collage #stepBox, #collage #timeBox {
    display:inline-block;
    color: black;
    width:35%;
}

#collage #stepBox div {
    background-color:#c2defc;
    display:inline-block;
    padding:1px 4px;
    margin: 0px auto;
    max-width:800px;
    color: white;
}



#collage #sortable {
    border:2px solid #fff;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 400px;
    color: white;
}

    #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
        color: white;
    }

#collage button  {
    background-color: whitesmoke;
    border:1px solid #cce;
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 3px 8px;
}